* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    margin-bottom: 15px;
}

.heading {
    margin-bottom: 0;
}

header {
    background-color: rgb(52,58,64);
    height: 60px;
    padding: 0 15px;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons i:hover {
    cursor: pointer;
}

i {
    display: inline-block;
    margin-right: 5px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.main {
    display: flex;
    min-height: 100vh;
}

.col-2 {
    background-color:rgb(52,58,64);
    width: 16.67%;
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    padding: 15px;
    color: white;
}

li:hover {
    color: black;
    transition: 0.25s;
    background-color: white;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.content {
    margin-left: 10px;
    margin-top: 15px;
    width: 100%;
}

td img {
    display: block;
    height: 90px;
    width: 120px;
    object-fit: cover;
}

td span {
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.admin {
    background-color: red;
}

.user {
    background-color: green;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-of-product {
    display: flex;
    gap: 5px;
    align-items: center;
}

select, input {
    border-radius: 5px;
    padding: 5px;
}

.search {
    margin-right: 15px;
}

.user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.product-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

label {
    margin-bottom: 0;
}

.status-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-xuly {
    background-color: yellow;
    color: black;
    font-weight: 100;
    padding: 5px;
}

.status-done {
    background-color: rgb(111, 221, 111);
    color: white;
    font-weight: 100;
    padding: 5px;

}

.status-cancel{
    background-color: red;
    color: white;
    font-weight: 100;
    padding: 5px;
}

.order-detail {
    display: flex;
    gap: 20px;
}

.middle {
    max-width: 350px;
}

/* Trang index */

.cards {
    display: flex;
    width: 100%;
    gap: 15px;
}

.item {
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    width: 24%;
    height: 130px;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
}

.fa-user-group, .fa-bag-shopping, .fa-comments, .fa-sharp {
    font-size: 32px;
}
.big-text {
    font-size: 24px;
}