.main {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    margin: 25px 0;
}

.order-detail {
    display: flex;
}

td img {
    display: block;
    height: 90px;
    width: 120px;
    object-fit: cover;
}