
.banner img {
    height: 450px;
    width: 1200px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.col {
    padding: 0 15px;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.pagination {
    margin-bottom: 15px;
    text-align: center;
}

.pagination a {
    color: #56B280;
    box-shadow:  0 0 1px black;
    padding: 15px;
    display: inline-block;
}

.pagination .active {
    background-color: #3BEC8C;
    color: white;
}

/* Main */
.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.catergory {
    list-style: none;
}

.catergory li {
    padding: 15px;
    box-shadow:  0 0 1px black;
}

.catergory li:hover {
    cursor: pointer;
}

/* Filter */
.filter {
    background-color: rgb(86, 178, 128, 0.2);
    height: 407px;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0 0 1px black;
    
}


.filter-section {
    margin-top: 32px;
    position: relative;
}

hr {
    margin-top: 21px;
}

.filter-section .bar {
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 30%;
}

.filter-section .bar p{
    position: relative;
    margin-top: 5px;
    right: 6px;
}


.filter-section .bar .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #56B280;
}

.sizes, .colors {
    margin-top: 16px;
}

.sizes .size-btn {
    background-color: #D9D9D9;
    padding: 6px 16px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    border: none;
}

.size{
    background-color: #56B280;
}

.colors p {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.btn {
    margin-top: 32px;
    background-color: #56B280;
    width: 125px;
    height: 40px;
    border-radius: 24px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: white;
}

/* Product header */
.product-header {
    height: 62px;
    background-color: rgb(86, 178, 128, 0.2);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.product-header-left {
    display: flex;
    align-items: center;
    gap: 33px;
}

.btn-header {
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0 30px;
    background-color: transparent;
}

.active {
    background-color: #56B280;
    color: white;
    font-weight: bold;
    border: none;
}

.btn-header:hover {
    cursor: pointer;
}

.product-header-right {
    display: flex;
    align-items: center;
    gap: 9px;
}

/* Card */
.card {
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
    background-color: white;
    margin-bottom: 16px;
}

.card img {
    width: 100%;
    height: 243px;
    display: block;
    object-fit: cover;
}

.card .product-title {
    font-weight: bold;
    margin-top: 18px;
}

.card .product-des {
    margin-top: 14px;
}

.card .product-price {
    color: #56B280;
    font-weight: bold;
    margin-top: 18px;
}

.card .stars {
    margin-top: 14px;
}

.card .btn {
    margin-top: 14px;
    margin-bottom: 16px;
    background-color: #56B280;
    border-radius: 24px;
    width: 127px;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
}


/* Product-content */
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px -15px;
}
 .col-3 {
    width: 33.33%;
}

/* Recommend-section */
.recommend-section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(86, 178, 128, 0.2);
}
.recommend-content {
    max-width: 1200px;
    margin: 0 auto;
}
.recommend-content .row {
    margin: 36px 0 0 ;
}

.recommend-content .row .col-3 {
    width: 25%;
}

@media screen and (max-width: 830px) {
    .filter {
        padding: 8px;
    }

    .sizes .size-btn {
        padding: 10px;
        margin-right: 8px;
    }

    .sizes .active {
        background-color: rgb(86, 178, 128);
    }

    .colors p {
        margin-right: 8px;
    }

    .product-header-left {
        gap: 16px;
    }

    .btn-header {
        padding: 0 16px;
    }
}

.btn:hover, .card .btn:hover {
    cursor: pointer;
    background-color: #3BEC8C;
}

.checkbox-control {
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

label:hover {
    cursor: pointer;
}